* {
  background: hex(#333333);
  margin: 0px;
  padding: 0px;
}
#main {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  align-items: center;
  text-align: center
  background-color: inherit;
  }
h1 {
color: white;
}