body {
  background: rgb(33,33,33);
  margin: 0px;
  padding: 0px;
}
img{
  position: absolute;
  left: 1%;
  opacity: 0.8;
  height: inherit;
  border-radius: 50% 50% 50% 50%;

}

h2 {
  text-align: center;
  color: gray;
}
#main h1 {
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 50px;
  color: white;
}
#main {
  background: rgba(15, 15, 15, 0.781);
  border-radius: 0 0 50px 50px;
  height: 10vw;
}
#click {
  position: absolute;
  align-self: center;
  align-items: center;
  text-align: center;
  left: 10%;
  right: 10%;
  height: 80%;
  margin-top: 20%;
}
#click button {
  border: unset;
  background: rgb(20,20,20);
  box-shadow: 0px 0px 1px gray inset;
  color: white;
  width: 75%;
  font-weight: 1000;
  height: 50%;
  border-radius: 10% 10% 10% 10%;
}
#click button:active h1{
  opacity: 0.1;
}
#click button:active{
  box-shadow: 1% 1% 1% black ;
  transform: scale(1.05);

}
#click button:hover {
  box-shadow: 0 0 0 white;
  background: rgb(25,25,25);
}
#worked_for {
  position: absolute;
  left: 25%;
  right: 25%;
  text-align: center;
  bottom: 20%;
  font-weight: 750;
  font-size: 25px;
  font-family: Arial, sans-serif;
  color: white;
}
.upgrades button:hover{
  transform: scale(1.05);
}
.upgrades button {
  width: calc(100vw / 3);
  border: 0;
  background-color: rgb(25,25,25);
  border-radius: 10px 10px 0 0;
  height: 100px;
  color: white;
}
.upgrades {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  background-color: rgb(46, 46, 46);
  bottom: 0;
}