* {
  background: rgb(77, 74, 74);
  margin: 0px;
  padding: 0px;
}
a,
big {
  cursor: pointer;
}
h1 {
  border-radius: inherit;
}
big {
  background-color: inherit;
}
#welcome {
  border-radius: 0px 0px 20px 0px;
  height: 54px;
  font-size: xx-large;
  background: white;
  color: black;
  font-variant: small-caps;
  text-align: left;
  letter-spacing: 2px;
}

/*buttons default*/
button {
  cursor: pointer;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: inherit;
  position: absolute;
  font-weight: 1000;
  font-size: 17px;
  transition: all 500ms;
  overflow: hidden;
}
button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  border-radius: 15px;
  background-image: linear-gradient(to right, white 0%, gray 50%, black 100%);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition-timing-function: ease-out;
  transition: all 500ms;
}
button:hover {
  color: white;
}
button:hover::before {
  height: 100%;
}

/*games button*/
.games::before {
  left: 100%;
  top: 100%;
  height: 100%;
  width: 100%;
}
.games:hover::before {
  left: 0%;
  top: 0%;
}
.games:not(:first-child) {
  margin-left: 127px;
}
#catalog {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  align-items: center;
  background-color: darkslategray;
  text-align: center;
  margin-left: 7px;
  margin-top: 15px;
  align-items: center;
  width: 75%;
  border-radius: 14px;
  height: 500px;
}
#catalog div {
  background-color: whitesmoke;
}
#catalog div h1 {
  background-color: whitesmoke;
}
#catalog div:hover {
  transform: scale(1.08);
  transition: all 500ms;
}
.a {
  padding: 0 23px 0 23px;
  border-radius: 20px;
  font-size: 30px;
  color: white;
  background-color: #232323;
  text-align: center;
}

.game_block {
  display: inline-block;
  margin-top: 12px;
  margin-left: 10px;
  border-radius: 14px;
  width: 250px;
  height: 200px;
}
