* {
  background: rgb(94, 94, 94);
  margin: 0px;
  padding: 0px;
}
a,
#welcome big {
  cursor: pointer;
  background-color: inherit;
}
h1 {
  border-radius: inherit;
}
#welcome {
  border-radius: 0px 0px 20px 0px;
  height: 54px;
  font-size: xx-large;
  background: white;
  color: black;
  font-variant: small-caps;
  text-align: left;
  letter-spacing: 2px;
}
/*buttons default*/
#welcome button {
  cursor: pointer;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: inherit;
  position: absolute;
  font-weight: 1000;
  font-size: 17px;
  transition: all 500ms;
  overflow: hidden;
}
#welcome button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  border-radius: 15px;
  background-image: linear-gradient(to right, white 0%, gray 50%, black 100%);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition-timing-function: ease-out;
  transition: all 500ms;
}
#welcome button:hover {
  color: white;
}
#welcome button:hover::before {
  height: 100%;
}

/*games button*/
.games::before {
  left: 100%;
  top: 100%;
  height: 100%;
  width: 100%;
}
.games:hover::before {
  left: 0%;
  top: 0%;
}
.games {
  margin-left: 127px;
}

.prog {
  margin-left: 235px;
}
.prog::before {
  left: 0%;
  top: 0%;
  height: 0%;
  width: 0%;
}
.prog:hover::before {
  height: 100%;
  width: 100%;
}

#catalog {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  align-items: center;
  background-color: darkslategray;
  text-align: center;
  margin-left: 7px;
  margin-top: 15px;
  align-items: center;
  width: 75%;
  border-radius: 14px;
  height: 500px;
}
#catalog div {
  background-color: whitesmoke;
}
#catalog div h1 {
  background-color: whitesmoke;
}
#catalog div:hover {
  transform: scale(1.08);
  transition: all 500ms;
}
.a {
  padding: 0 23px 0 23px;
  border-radius: 20px;
  font-size: 30px;
  color: white;
  background-color: #232323;
  text-align: center;
}

.game_block {
  display: inline-block;
  margin-top: 12px;
  margin-left: 10px;
  border-radius: 14px;
  width: 250px;
  height: 200px;
}

#catalog2 {
  border-radius: 10px;
  background-color: #222;
  height: 700px;
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0px 0px 30px rgb(255, 255, 255);
  display: flex;
}
.name {
  color: rgb(0, 162, 255);
  background-color: inherit;
  font-size: 40px;
  letter-spacing: -3px;
  font-style: italic;
}
.target {
  margin-top: 40%;
  background-color: inherit;
}
.try {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 0 10px 0px 10px;
  background-color: #232323;
  text-align: center;
  font-size: 25px;
  vertical-align: bottom;
}
#catalog2 .div:hover {
  transition: all 1s;
  transform: scale(1.1);
}
#catalog2 .div {
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
  background-color: #8e8e8e;
  border-radius: 10px;
  text-align: center;
  margin-top: 15px;
  margin-left: 15px;
  width: 175px;
  height: 150px;
}

.bg {
  position: relative;
  margin-left: 10%;
  width: 80%;
  height: 700px;
  background-color: #8e8e8e;
  border-radius: 10px;
}
#colors{
  width: 338px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.color{
  width: 50px;
  height: 20px;
  border: 0;
}
.painter {
  top: 20%;
  left: 20%;
  position: absolute;
}
.painter #canvas {
  padding-top: 2px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 338px;
  height: 336px;
  background-color: #222;
}
.painter #canvas .point {
  margin-left: 2px;
  margin-bottom: 2px;
  background-color: white;
  width: 40px;
  height: 40px;
}
.point:hover {
  cursor: pointer;
}
.painter input{
  display: none;
  background-color: inherit;
}
#fill{
  left: 300px;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  background-color: #fff;
}
#createColorText{
  height: 10px;
  display: inherit;
}
#createColor{
  border: 0;
  height: 30px;
  width: 100px;
}

