*{
background: slategray;
margin: 0px;
padding: 0px;
}
a:link{
  text-decoration: none;
}
a:hover{
  color:green;
}
#welcome{
  border-radius: 30px;
  height: 30px;
  font-size: xx-large;
  background: white;
  color: black;
  font-variant: small-caps;
text-align: center;
letter-spacing: 3px;
}
